* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --theme-color: #5074f3;
}

body {
    background-color: var(--theme-color) ;
}

.container {
    width: 90%;
    max-width: 25em;
   
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
}

.card{
    width: 100%;
    padding: 4em 0;
    background-color: white;
    text-align: center;
    border-radius: 20px;

}

.card .img-container{
height: 11.25em;
width: 11.25em;
display: block;
margin: -8.75em auto 0 auto;
background-color: whitesmoke;
border-radius: 20px;
box-shadow: 0 0 0 0.3em whitesmoke, 0 0 0 .9em blue;
}

.img-container img {
    width: 100%;
    border-radius: 50%;
}

.container button {
    display: block;
    font-size: 1.2em;
    width: 90%;
    margin: 2em auto 0 auto;
    padding: 1.1em 0;
    border-radius: 0.3em;
    border: none;
    outline: none;
    font-weight: 600;
    color: darkblue;
    cursor: pointer;
}

.card h2 {
    margin-top: 1.8em;
    font-weight: 600;
    color: blue;
}

.card h3, 
.card h4 {
    font-size: 1em;
    letter-spacing: .02em;
    margin-top: .5em;
    font-weight: 300;
    color: grey;
}

.card i {
    color: blue;
    margin-right: .3em;
}

.card h4 {
    margin-top: 1em;
}








